{% extends 'main_account.html' %} 
{% load static %}

{% block page_title %} 
    Enter otp page 
{% endblock page_title %}

{% block body %}
<div class="enter">
  <div class="enter_pict">
    <img src="{% static "login_register/enter_otp.png" %}" alt="" />
  </div>
  <div class="enter_base">
    <div class="enter_back">
      <a href = {% url "account:forgot_password" %}><i class="fa-solid fa-angle-left"></i></a>
      <p>Back</p>
    </div>
    <div class="enter_word">
      <h2>Enter OTP</h2>
      <p>We have share a code of your registered email address...</p>
    </div>
    <div class="enter_form">
      <form>
        <div class="enter_input">
          <input class="input" type="text" inputmode="numeric" maxlength="1" />
          <input class="input" type="text" inputmode="numeric" maxlength="1" />
          <input class="input" type="text" inputmode="numeric" maxlength="1" />
          <input class="input" type="text" inputmode="numeric" maxlength="1" />
          <input class="input" type="text" inputmode="numeric" maxlength="1" />
        </div>
        <br />
        <button class="btn">Verify</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
