{% extends 'main_account.html' %} 
{% load static %}

{% block page_title %} 
    Forgot password page 
{% endblock page_title %}

{% block body %}
<div class="forgot">
  <div class="forgot_pict">
    <img src={% static "login_register/forgot.png" %} alt="" />
  </div>
  <div class="forgot_base">
    <div class="forgot_back">
      <a href = "{% url "account:login" %}"><i class="fa-solid fa-angle-left"></i></a>
      <p>Back</p>
    </div>
    <div class="forgot_word">
      <h2>Forgot Password</h2>
      <p>
        Enter your registered email address. <br />
        we’ll send you a code to reset your password.
      </p>
    </div>
    <div class="forgot_form">
      <form method="Post">
        <div class="forgot_form_group">
          {% csrf_token %}
          <label for="{{form.email.id_for_label}}">Email Address</label>
          {{form.email}}
          {% comment %} <input type="email" placeholder="perry.wilson@example.com" /> {% endcomment %}
        </div>
        <br />
        <button class="btn">Send OTP</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}