{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static "home.css" %}"/>  
    <title>
        {% block page_title %} 
            Travo 
        {% endblock page_title %}
    </title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="navbar">
          <div class="nav_logo">
          <img src="{% static "Logo.svg" %}">
          </div>
          <div class="nav_links">
            <ul>
              <li><a href="{% url "home" %}">Home</a></li>
              <li><a href="{% url "about_us" %}">About Us</a></li>
              <li><a href="{% url "services" %}">Services</a></li>
              <li><a href="{% url "destinations" %}">Destinations</a></li>
              <li><a href="{% url "blog" %}">Blog</a></li>
              <li><a href="{% url "contact_us" %}">Contact Us</a></li>
            </ul>
          </div>
          <div class="nav_btn">
            <a id="login_icon" href="{% url "account:login" %}"><i class="fa-solid fa-right-to-bracket"></i></a>
            <a id="signup_icon" href="{% url "account:register" %}"><i class="fa-solid fa-user-plus"></i></a></button>
            <button id="menu_btn"><i class="fa-solid fa-bars"></i></button>
            <a id="signup" href="{% url "account:register" %}">Signup</a>
            <a id="login" href="{% url "account:login" %}">Login</a>
          </div>
        </div>
      </div>
    </header>
    {% block body %}
    <div class="breadcrumb">
      <div class="container">
        <p>Home <i class="fa-solid fa-angle-right"></i>  Best...</p>
      </div>
    </div>
    {% endblock body %}
    <footer>
      <div class="footer">
        <div class="container">
          <div class="footer_col">
            <div class="footer_contact">
              <div class="footer_logo">
                <img src="{% static "Logo.svg" %}">
              </div>
              <div class="footer_contact_cols">
                <div class="footer_contact_col">
                  <p><i class="fa-solid fa-phone-volume"></i>(620) 555-0127</p>
                </div>
                <div class="footer_contact_col">
                  <p><i class="fa-regular fa-envelope"></i>travo@example.com</p>
                </div>
                <div class="footer_contact_col">
                  <p>
                    <i class="fa-solid fa-location-dot"></i>3891 Ranchview Dr.
                    Richardson, <br />California 62639
                  </p>
                </div>
              </div>
            </div>
            <div class="footer_add">
              <div class="footer_links">
                <h1>About Us</h1>
                <ul>
                  <li><a href="">Who We Are</a></li>
                  <li><a href="{% url "blog" %}">Blog</a></li>
                  <li><a href="">Features</a></li>
                  <li><a href="">How It Works</a></li>
                </ul>
              </div>
              <div class="footer_links">
                <h1>Company</h1>
                <ul>
                  <li><a href="">Why Travo</a></li>
                  <li><a href="{% url "about_us" %}">About Us</a></li>
                  <li><a href="">Our Services</a></li>
                  <li><a href="">Testimonial</a></li>
                </ul>
              </div>
              <div class="footer_links">
                <h1>Support</h1>
                <ul>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">Terms & Conditions</a></li>
                  <li><a href="">Career</a></li>
                  <li><a href="">Partnership</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer_social">
            <div class="footer_social_col">
              <p>©2023 Travo All Rights are reserved️</p>
            </div>
            <div class="footer_social_col">
              <i class="fa-brands fa-facebook-f"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-twitter"></i>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static "app.js" %}" ></script>
  </body>
</html>