{% extends 'main_account.html' %} 
{% load static %}

{% block page_title %} 
    Login page 
{% endblock page_title %}

{% block body %}
<div class="login">
  <div class="login_pict">
    <img src="{% static 'login_register/login.png' %}" alt="" />
  </div>
  <div class="login_base">
    <div class="logo">
      <img src="{% static "Logo.svg" %}">
    </div>
    <div class="login_word">
      <h1>Welcome 👋</h1>
      <p>Please login here</p>
    </div>
    <div class="login_form">
      <form method="Post" >
        {% csrf_token %}

        <div class="login_form_group">
          <label for="{{form.email.id_for_label}}">Email Address</label>
          {% comment %} <input type="email" placeholder="perry.wilson@example.com" /> {% endcomment %}
          {{form.email}}
        </div>
        <br />
        <div class="login_form_group">
          <label for="{{form.password.id_for_label}}">Password</label>
          {{form.password}}
          {% comment %} <input type="password" placeholder="•••••••••••••••" /> {% endcomment %}
        </div>
        <br />
        <div class="login_form_sub">
          <div class="login_form_check">
            <input type="checkbox" />
            <label for="remember">Remember me</label>
          </div>
          <a href="{% url "account:forgot_password" %}">Forgot Password?</a>
        </div>
        <br /><br />
        <button type="submit" class="btn">Login</button>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
